# Web
RSS_FEED_URL=
NEXT_PUBLIC_SITE_URL=https://boxingundefeated.com

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX

# Authentication
# @thedaviddias/auth
GITHUB_TOKEN=

# Supabase
# @thedaviddias/supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_AUTH_EXTERNAL_GITHUB_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GITHUB_CLIENT_SECRET=

# Public Supabase Variables
# Used by @thedaviddias/supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

